@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: calc(12px + 0.3vw); color: #333; }
.autocomplete-suggestion b { font-family: 'Quando', serif; color: #1f8dd6;  font-size: 1em;}
.autocomplete-suggestion.selected { background: #f0f0f0; }


input {
    padding: calc(0.1rem + 1vh) calc(0.13rem + 1vw);
    height: inherit;
    font-size: calc(7px + 1vw);
    display: block;
    width: 100%;
    box-sizing:border-box;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #cccccc;
  text-align: left;
  padding: 8px;
}

td {
	font-weight: 400;
}

th {
	font-weight: 600;
}

tr:nth-child(even) {
  background-color: #e8f3fa;
}

.inner-element {
	margin: 5% 10%;

}

h1 {
	font-size: calc(25px + 9vw);
	margin: 0;
	font-family: 'Quando';
}

h3 {
	font-size: 2em;
	font-size: calc(20px + 1vw);
	margin: 0px 0px calc(0px + 3vh);
	font-family: 'Quando';
}


#prins {
	font-size: calc(15px + 2vw);
	margin: 0;
	font-family: 'Quando';
	color: #1f8dd6;
}

#meaning {
	font-size: calc(15px + 1.5vw);
	margin: 0;
	font-family: 'Quando';
}

#main {
	display: none;
	text-align: center;
}

#word {
	display: none;
}